body {
    margin: 0; /*Verwijdert standaardmarges*/
    font-family: Arial, sans-serif;
}

/*Hamburger icoon stylen*/
.hamburger {
    position: absolute;
    top: 1em;
    left: 1em;
    display: flex;
    flex-direction: column; /*Zorgt dat de drie streepjes onder elkaar komen*/
    justify-content: space-between; /*Gelijke ruimte tussen de streepjes en de streepjes in een vierkant*/
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 1000; /*Zet het hamburgermenu op laag 1000 (waarschijnlijk bovenaan)*/
}

/*De streepjes*/
.hamburger div {
    background-color: #333;
    height: 4px;
    border-radius: 1em; /*Ronde randjes om streepjes hamburger icoon*/
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/*Menu stylen*/
.menu {
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    width: auto;
    height: auto; /*Hoogte aanpassen aan de text in het menu*/
    background-color: #f4f4f4;
    box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.2);
    transform: translateX(-110%); /*X naar links uit beeld schuiven*/
    transition: transform 0.3s ease;
    border-radius: 0.5em; /*Hoeken ronding geven*/
    overflow: hidden; /*Items buiten menu verbergen*/
}

.menu ul {
    list-style: none; /*Puntjes/lijst aanduidende symbolen weglaten*/
    padding: 1em 0.5em 0.5em; /*Zorgen dat text niet met hamburger icoon clipt*/
    margin-right: 1em; /*zorgt dat de text niet gecentreerd staat (vind ik mooier)*/
}

.menu ul li {
    margin: 0.7em; /*ruimte tussen de linkjes in het menu*/
}

.menu ul li a {
    text-decoration: none; /*Haalt de text decoratie van een linkje weg*/
    color: #333;
    font-size: 16px;
}

/*Laat menu zien wanneer actief*/
.menu.active {
    transform: translateX(0);
}

/*Hamburger animatie voor wanneer actief*/
.hamburger.active div:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active div:nth-child(2) {
    opacity: 0;
}

.hamburger.active div:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
